<template>
  <v-container>
    <v-row class="text-center">
      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">Sign in</h2>
        <v-row justify="center">
          <v-col cols="12" sm="10" md="8" lg="6">
            <validation-observer
              ref="obs"
              v-slot="{ invalid, validated, passes }"
            >
              <v-card flat>
                <v-card-text>
                  <validation-text :label="'ユーザーID'" :val.sync="user">
                  </validation-text>
                  <validation-pass :label="'パスワード'" :val.sync="password">
                  </validation-pass>
                  <router-link to="/about"
                    >パスワードをお忘れの方はこちら</router-link
                  >
                </v-card-text>
                <v-divider class="mt-6"></v-divider>
                <v-card-actions class="justify-center">
                  <v-btn
                    class="my-6"
                    color="primary"
                    :loading="isLogin"
                    @click="passes(login)"
                    :disabled="invalid || !validated || isLogin"
                    >サインイン</v-btn
                  >
                </v-card-actions>
              </v-card>
            </validation-observer>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import firebase from "firebase/app";
import ValidationText from "@/components/ValidationText";
import ValidationPass from "@/components/ValidationPassword";
import config from "@/js/const";
export default {
  name: "TheSignin",
  data: () => ({
    user: "",
    password: "",
    isLogin: false,
  }),
  components: {
    ValidationText,
    ValidationPass,
  },
  created() {
    const myload = () => {
        if (!firebase.auth()) {
          return;
        }
        window.clearInterval(myId);
        const firebaseUser = firebase.auth().currentUser;
        //ログインしていない場合、ローカルストレージを削除
        if (!firebaseUser) {
          window.localStorage.removeItem(config.storage);
          return;
        }
        this.$router.push("/");
      },
      myId = window.setInterval(myload, 3000);
  },
  methods: {
    login() {
      //ログイン処理中だったら終了
      if (this.isLogin) {
        return false;
      }
      this.isLogin = true;
      //ログイン処理
      const auth = firebase.auth(),
        promise = auth.signInWithEmailAndPassword(this.user, this.password);
      promise
        .then((fUser) => {
          //ログイン成功
          window.localStorage.removeItem(config.storage);
          window.localStorage.setItem(
            config.storage,
            JSON.stringify({ uid: fUser.user.uid })
          );
          this.$router.push("/");
        })
        .catch((e) => {
          //ログイン失敗
          this.isLogin = false;
          if (e.code === "auth/wrong-password") {
            window.alert("パスワードが違います。");
            return;
          }
          window.alert("ユーザーIDをご確認ください。");
        });
    },
  },
};
</script>
