<template>
  <validation-provider :name="label" :rules="rules" v-slot="{ errors, valid }">
    <v-text-field
      v-model.trim="inputValue"
      label="パスワード"
      outlined
      filled
      :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
      :type="show1 ? 'text' : 'password'"
      counter
      :hint="hint"
      :suffix="suffix"
      :error-messages="errors"
      :success="valid"
      @click:append="show1 = !show1"
    ></v-text-field>
  </validation-provider>
</template>
<script>
export default {
  name: "ValidationPassword",
  data: () => ({
    show1: false,
  }),
  props: {
    label: {
      type: String,
      required: true,
    },
    val: {
      required: true,
    },
    hint: {
      type: String,
      default: "",
    },
    rules: {
      default: "required",
    },
    suffix: {
      default: undefined,
    },
  },
  computed: {
    inputValue: {
      get() {
        return this.val;
      },
      set(value) {
        this.$emit("update:val", value);
      },
    },
  },
};
</script>