<template>
  <v-app>
    <v-main class="blue-grey lighten-5">
      <transition name="fade">
        <router-view />
      </transition>
    </v-main>
  </v-app>
</template>
<script>
export default {
  name: "App",
};
</script>
