// src/scss/index.scss

// Globals
$body-font-family: "ヒラギノ角ゴ ProN W3",
"Hiragino Kaku Gothic ProN",
"メイリオ",
"Meiryo",
"verdana";

$border-radius-root: 6px;
$font-size-root: 14px;
$material-light: ("app-bar": "#333333"
); // Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: ("small": 20);
$btn-sizes: ("default": 41,
    "large": 54);